@import url("https://fonts.googleapis.com/css2?family=Sanchez&display=swap");

$title-font: "Sanchez", serif;
$text-font: Arial, Helvetica, sans-serif;
$primary: #bfdbff;
$secondary: #000a64;
$bronze: #d49a4e;
$silver: #bbc6ce;
$gold: #dcd388;
$salmon: #ff7480;

/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}

// navbar

.nav__collapse {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.3);
  max-height: 0;
  overflow: hidden;
}

.nav {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
}

.nav .nav__toggle label {
  width: 2em;
  height: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.nav .nav__toggle .bar {
  display: block;
  height: 5px;
  width: 100%;
  background-color: $secondary;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.nav .nav__toggle input[type="checkbox"] {
//   display: none;
}

.nav__toggle input[type="checkbox"]:checked ~ .nav__collapse {
    height: 100%;
}
